# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Default OS X user folders and files
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
.Trash/
.CFUserTextEncoding

# Common Unix user folders and files
.ssh/
.Xauthority
.bash_history
.cups/
.lesshst

# OpenOffice droppings
.crash_report*

# Personal stuff
.dropbox/
.config/
.dvdcss/
.eaglerc
.fontconfig/
.gdb_history
.htoprc
.idm/
.subversion/
.viminfo


# My git repos
git

