[user]
	name = Patrick Allen
	email = github.com@eth0.uk.net
[github]
	user = ethzero
	token = 19c4d7ad2c59ef766b87567539f24a3f
[alias]
	co = checkout
	graph = !git log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	s = status

[core]
	excludesfile = /Users/oneltd/.gitignore_global
